# Dependency directories
node_modules/

# Optional npm cache directory
.npm

.DS_Store
.vscode

dist

.env
database.sqlite
terraform.pem

# Ignore Terraform local state and binaries
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore the AWS keys and pem files (Security Best Practice!)
*.pem
terraform.tfvars